<!DOCTYPE html>
<html>
<head>
    <title></title>

    <style>
        .myNavbar {
            background-color: blue;
            margin-bottom: 30px;
            height: 52px;
        }

        .myNavbarContent {
            background-color: aqua;
            width: 75%;
            margin: auto;
            height: 52px;
        }
    </style>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="myNavbar">
        <div class="myNavbarContent">
            @Html.ActionLink("Home", "Index", "Home", new { }, new { })
            @Html.ActionLink("About", "About", "Home", new { }, new { })
            @Html.ActionLink("Contact", "", "", new { }, new { })

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("UploadBook", "UploadFiles", "Book", new { }, new { })
                }

                if (User.IsInRole("user"))
                {
                    @Html.ActionLink("Charge Your Account", "Index", "Cont", new { }, new { })
                    @Html.ActionLink("Achizitii", "Index", "Achizitie", new { }, new { })

                }
            }
            <div style="float: right">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Logout", "Logout", "Auth", new { }, new { })
                }
                else
                {
                    @Html.ActionLink("Login", "Login", "Auth", new { }, new { })
                    @Html.ActionLink("Registration", "Registration", "Auth", new { }, new { })
                }
            </div>
        </div>
    </div>

    @RenderBody()
</body>
</html>
