@model LibrarieOnline.Model.DTO.BookViewModel

@{
    ViewBag.Title = "UploadFiles";
}

<h2>UploadFiles</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{
                var categories = new List<SelectListItem>();
                foreach (var item in Model.category)
                {
                    categories.Add(new SelectListItem() { Text = item.Name, Value = item.CategoryId.ToString() });
                }
            }

            @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <br />
            @Html.DropDownList("CategoryId", categories, htmlAttributes: new { @class = "form-control" })
            <br />
        </div>

        <div class="form-group">
            @{
                var author = new List<SelectListItem>();
                foreach (var item in Model.author)
                {
                    author.Add(new SelectListItem() { Text = item.Name, Value = item.AuthorId.ToString() });
                }
            }

            @Html.LabelFor(model => model.AuthorId, "AuthorId", htmlAttributes: new { @class = "control-label col-md-2" })
            <br />
            @Html.DropDownList("AuthorID", author, htmlAttributes: new { @class = "form-control" })
            <br />
        </div>

        <div class="form-group">
            @{
                var publisher = new List<SelectListItem>();
                foreach (var item in Model.publisher)
                {
                    publisher.Add(new SelectListItem() { Text = item.Name, Value = item.PublisherId.ToString() });
                }
            }

            @Html.LabelFor(model => model.PublisherId, "PublisherId", htmlAttributes: new { @class = "control-label col-md-2" })
            <br />
            @Html.DropDownList("PublisherId", publisher, htmlAttributes: new { @class = "form-control" })
            <br />
        </div>

        @*<div class="col-md-10">
            @Html.DropDownList("CategoryId", categories, htmlAttributes: new { @class = "form-control" }) 
            <br />
            @Html.LabelFor(model => model.book.AuthorId, "AuthorId", htmlAttributes: new { @class = "control-label col-md-2" })
            <br />
            @Html.DropDownList("AuthorID", author, htmlAttributes: new { @class = "form-control" })
            <br />
            @Html.LabelFor(model => model.book.PublisherId, "PublisherId", htmlAttributes: new { @class = "control-label col-md-2" })
            <br />
            @Html.DropDownList("PublisherId", publisher, htmlAttributes: new { @class = "form-control" })
            <br />
            @Html.ValidationMessageFor(model => model.book.CategoryId, "", new { @class = "text-danger" })
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


